# Copyright (c) Facebook, Inc. and its affiliates.
#
# This source code is licensed under the MIT license found in the
# LICENSE file in the root directory of this source tree.

if/py
external/fbthrift/thrift/lib/py
external/common/fb303/py

appdirs==1.4.3
asn1crypto==0.22.0
asyncssh==1.10.1
cffi==1.10.0
cryptography==39.0.1
future==0.16.0
idna==2.5
mock==2.0.0
packaging==16.8
pbr==3.0.1
pycparser==2.17
pyparsing==2.2.0
six==1.10.0
setuptools==65.5.1
