# Copyright (c) Facebook, Inc. and its affiliates.
#
# This source code is licensed under the MIT license found in the
# LICENSE file in the root directory of this source tree.

certifi==2017.4.17
chardet==3.0.4
docker==2.3.0
docker-pycreds==0.2.1
requests==2.31.0
termcolor==1.1.0
urllib3==1.26.5
websocket-client==0.40.0
