# Copyright (c) 2017-present, Facebook, Inc.
# All rights reserved.
#
# This source code is licensed under the BSD-style license found in the
# LICENSE file in the root directory of this source tree. An additional grant
# of patent rights can be found in the PATENTS file in the same directory.
#
certifi==2017.4.17
chardet==3.0.4
docker==2.3.0
docker-pycreds==0.2.1
requests==2.20.0
termcolor==1.1.0
urllib3==1.23
websocket-client==0.40.0
